<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="desktop-1-W5D" id="46:12">
    <div class="group-19-VC3" id="46:20">Welcome</div>
    <div class="auto-group-tcux-8Xq" id="CM6ty2dyFdSBFQD8nTTCUX">
        <div class="rectangle-8-F6f" id="46:14"></div>
        <div class="group-20-Lto" id="46:15">
            <form id="contactForm" method="post">
                <div>
                    <label for="userquery">Query:</label>
                    <input id="userquery" name="userquery" required>
                </div>
            </form>
        </div>
        <p class="hello-sGT" id="46:18">HELLO!</p>
        <p class="how-are-you-feeling-today-ZQB" id="46:19">How are You Feeling Today?</p>
    </div>
</div>
</body>
</html>
