html, body{ height:100%; margin:0; }
header{ height:50px;}

body{ 
  display:flex; 
  flex-direction:column; 
  background-color: #99B0D0;
}

h1{
    font-size: 5vh;
    font-family:monospace;
}
nav{
    background-color: white;
    height: 10vh;
}

input[type="submit"] {
    background-color: #99B0D0;
    border-color: transparent;
    transition: background-color 0.3s ease;
    font-family:monospace;
}
input[type="submit"]:hover {
    background-color:#779dd2 ;
    border-color: black;
}

input[type="text"]{
    font-family:monospace;
}
