<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Form</title>
</head>
<body>
  <h1>Contact Form</h1>
  <form id="contactForm" method="post">
    <div>
      <label for="med_history">med_history:</label>
      <input  id="med_history" name="med_history" >
    </div>
    <div>
      <label for="age">age:</label>
      <input id="age" name="age" >
    </div>
    <div>
      <label for="gender">gender:</label>
      <input id="gender" name="gender" ></input>
    </div>
    <div>
      <label for="symptoms">symptoms:</label>
      <textarea id="symptoms" name="symptoms" ></textarea>
    </div>
    <div>
      <label for="tavel_history">tavel_history :</label>
      <textarea id="tavel_history" name="tavel_history" ></textarea>
    </div>
    <div>
      <label for="exposture">exposture:</label>
      <textarea id="exposture" name="exposture" ></textarea>
    </div>


    <button type="submit">Submit</button>
  </form>

<script>
    function submitForm() {
      var formData = {
        name: document.getElementById('name').value,
        age: document.getElementById('age').value,
        gender: document.getElementById('gender').value,
        med_history: document.getElementById('med_history').value,
        tavel_history: document.getElementById('tavel_history').value,
        final_prompt: document.getElementById('final_prompt').value,
        Potential_exposure: document.getElementById('Potential_exposure').value
      };

      fetch('http://127.0.0.1:5000/submit-data', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(formData)
      })
      .then(response => response.json())
      .then(data => {
        console.log('Response from server:', data);
        // Handle the response as needed
      })
      .catch(error => {
        console.error('Error:', error);
        // Handle errors
      });
    }
  </script>


</body>
</html>
