<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="global.css" />
    <link rel="stylesheet" href="temp.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>QUERAI</title>
    <link rel="icon" type="image/x-icon" href="icon.png">
  </head>
  <body>

<!-- NAV BAR -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
          <a class="navbar-brand" href="#">
              <img src="logo.png" alt="Bootstrap" width="170">
            </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Report Analyser</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Disease Prediction</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">AI Consultation</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>



    <div class="desktop-25">
      <div class="desktop-25-child"></div>
      <div class="desktop-25-item"></div>
      <div class="desktop-25-inner"></div>
      <div class="desktop-25-child1"></div>
      <img
        class="stethoscope-icon"
        loading="lazy"
        alt=""
        src="stethoscope.png"
      />

      <main class="frame-group1">
        <section class="website-name-text">
          <div class="inner-frame">
            <div class="group-div">
              <div class="frame-child5"></div>
              <img
                class="group-20-removebg-12"
                alt=""
                src="bg.png"
              />
            </div>
            <div class="report-frame1">
              <div class="frame-triple">

<!-- BUTTON FOR "BASED ON REPORT" PAGE -->
              <button>
                <div class="text-frames">
                  <div class="text-frames-child"></div>
                  <div class="google-icons">
                    <img
                      class="health-medical-report-24640-78-icon2"
                      alt=""
                      src="health-medical-report_.png"
                    />

                    <img
                      class="health-medical-report-24640-78-icon3"
                      loading="lazy"
                      alt=""
                      src="health-medical-report_.png"
                    />
                  </div>
                  <div class="symptom-based-a-i">
                    <div class="consultation-text">
                      <div class="based-on-your2">Based on your reports</div>
                    </div>
                  </div>
                </div>
              </button>



<!-- BUTTON FOR "BASED ON SYMPTOMS" PAGE -->
              <button>
                <div class="text-frames1">
                  <div class="text-frames-item"></div>
                  <div class="man-sneezes-and-uses-paper-nap-group">                 
                    <img
                      class="man-sneezes-and-uses-paper-nap-icon3"
                      loading="lazy"
                      alt=""
                      src="man-sneezes.png"                    />
                  </div>
                  <div class="based-on-symptoms-group">
                    <div class="based-on-symptoms2">Based on symptoms</div>
                  </div>
                </div>
              </button>



<!-- BUTTON FOR "AI CONSULTATION" PAGE -->
              <button>
                <div class="text-frames2">
                  <div class="text-frames-inner"></div>
                  <div class="text-frames-inner1">
                    <div class="google-1401811766-1-group">
                      <img
                        class="google-1401811766-11"
                        loading="lazy"
                        alt=""
                        src="bot.png"
                      />

                      <img
                        class="google-1401811766-21"
                        alt=""
                        src="bot.png"
                      />
                    </div>
                  </div>
                  <div class="ai-consultation-group">
                    <div class="ai-consultation2">A.I. Consultation</div>
                  </div>
                </div>
              </button>


              </div>
            </div>
          </div>
          <div class="welcome-text-wrapper">
            <div class="welcome-text">
              <div class="welcome-text-child"></div>
              <div class="our-offer-frame">
                <div class="medical-report-analysis-text">
                  <h1 class="welcome-to-querai">
                    Welcome to QUERAI: Your Health Companion
                  </h1>
                  <div class="health-companion-text">
                    <div class="dedicated-to-text">
                      <div class="dedicated-to-text-child"></div>
                      <h3 class="at-querai-were">
                        At QUERAI, we're dedicated to revolutionizing the way
                        you interact with your health. Our platform offers a
                        suite of innovative tools designed to empower
                        individuals and healthcare professionals alike. Whether
                        you're seeking to understand a medical report, predict
                        outcomes based on symptoms, or access AI-driven
                        consultations, we're here to guide you on your journey
                        to better health.
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="symptom-prediction-text">
                <div class="a-i-consultant-frame">
                  <h3 class="what-we-offer">What We Offer:</h3>
                  <div class="connect-button-text">
                    <div class="kushaagra-mehta-r-a">
                      <h3 class="medical-report-analysis-container">
                        <div class="medical-report-analysis">
                          <div class="medical-report-analysis1">
                          1.  Medical Report Analysis:
                          </div>
                        </div>
                      </h3>
                      <div class="frontend-fronte">
                        <div class="frame-parent1">
                          <div class="ellipse-parent">
                            <div class="ellipse-div"></div>
                            <div class="frame-child7"></div>
                          </div>
                          <div class="gain-valuable-insights">
                            Gain valuable insights into your health with our
                            advanced analysis tool. Upload your medical reports,
                            and let QUERAI provide comprehensive breakdowns,
                            highlighting key points and potential areas of
                            concern.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="frame-parent2">
                <div class="frame-wrapper1">
                  <div class="symptom-based-prediction-parent">
                    <h3 class="symptom-based-prediction">
                      <div class="symptom-based-prediction1">
                        2.  Symptom-Based Prediction:
                      </div>
                    </h3>
                    <div class="wondering-about-possible-outco-wrapper">
                      <div class="wondering-about-possible">
                        Wondering about possible outcomes? Our predictive tool
                        uses cutting-edge AI algorithms to forecast potential
                        diagnoses based on reported symptoms, helping you
                        prepare and plan for your health journey.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="frame-parent3">
                  <div class="ai-consultation-wrapper">
                    <h3 class="ai-consultation4">
                      <div class="ai-consultation5">
                        3.  AI Consultation:
                      </div>
                    </h3>
                  </div>
                  <div class="frame-parent4">
                    <div class="png-clipart-injection-vaccine-wrapper">
                      <img
                        class="png-clipart-injection-vaccine-icon"
                        loading="lazy"
                        alt=""
                        src="injection.png"
                      />
                    </div>
                    <div class="ellipse-group">
                      <div class="frame-child8"></div>
                      <div class="connect-with-our">
                        Connect with our AI-driven consultants for personalized,
                        confidential advice. Whether you're seeking a second
                        opinion or looking for initial guidance, our virtual
                        consultations offer convenience without compromising on
                        quality.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <footer class="frame-footer">
        <div class="frame-child9"></div>
        <div class="our-team">Our Team:</div>
        <div class="frame-wrapper2">
          <div class="kushaagra-mehtara211102603006-parent">
            <div class="kushaagra-mehtara211102603006">
              <p class="kushaagra-mehtara2111026030061">
                Kushaagra Mehta(RA2111026030065)
              </p>
              <p class="blank-line">&nbsp;</p>
              <p class="kshitiz-agarwalra211102603012">
                Kshitiz Agarwal(RA2111026030128)
              </p>
              <p class="blank-line1">&nbsp;</p>
              <p class="priyanshi-dhillonra2111026030">
                Priyanshi Dhillon(RA2111026030123)
              </p>
              <p class="blank-line2">&nbsp;</p>
              <p class="ena-tandonra2111026030109">
                Ena Tandon(RA2111026030109)
              </p>
            </div>
            <div class="backend-ui-backend-container">
              <p class="backend">Backend</p>
              <p class="blank-line3">&nbsp;</p>
              <p class="ui-backend-connection">UI, Backend Connection</p>
              <p class="blank-line4">&nbsp;</p>
              <p class="ui-frontend">UI, Frontend</p>
              <p class="blank-line5">&nbsp;</p>
              <p class="frontend">Frontend</p>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
